# build/ can be generated using cmake:
#   mkdir build && cd build
#   cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release
#   cmake --build .
#   cmake --install .
#   cd .. && rm -rf build
build/

# documentation/ can be generate using doxygen documentaiton generator:
#   doxygen Doxyfile
documentation/

# if needed, glad sources will be generated
lib/glad/include/
lib/glad/src/

# ain't nobody need this
.vscode/