# build, bin, and lib can be generated using cmake:
#   mkdir build && cd build
#   cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release
#   cmake --build .
#   cmake --install .
#   cd .. && rm -rf build
build/
bin/
lib/

# if needed, glad sources will be generated
extern/glad/include/
extern/glad/src/

# ain't nobody need this
.vscode/

# documentation
docs/html