Package: GLider
Version: 0.1.0
Architecture: all
Essential: no
Priority: optional
Depends: libsdl2-dev,libglm-dev
Maintainer: Swarnava Ghosh <swarnavaghosh04@gmail.com>
Description: OpenGL Class Abstraction
